body{
	background-color:#fff;
	color:#666;
	font:14px/1.5 "微软雅黑",tahoma,"SimSun";
	margin:0 auto;
	padding:0;
	text-align: left;
}
/* 重置 */
div, form, p, i, img, ul, li, ol, dl, dt, dd, table, tr, td, th,a,span,em,b,fieldset, label, legend, select, figure, button, input,embed {
	margin:0;
	padding:0;
}
/* 标题样式 */
/*h1, h2, h3, h4, h5, h6 ,em,b,strong{
	margin:0;
	padding:0;
	font-size:14px;
	font-weight:normal;font-style: normal;
}*/
em,.news_left_list h3{
	margin:0;
	padding:0;
	font-size:14px;
	font-weight:normal;font-style: normal;
}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
	margin: 0
}
/* 列表样式 */
ul, ol, li, dl, dt, dd {
	list-style:none;
}
/* 图片样式 */
img, a img {
	border:0px;
	padding:0px;
	margin:0px;
	vertical-align:middle
}
table{
	border-collapse:collapse;
	border-spacing:0;
	margin:0 auto;
}
/* 链接样式 */
a {
	text-decoration:none;
	color:#666;
	transition:color 0.3s ease-out;
}
a:visited {
	text-decoration:none;
}
a:hover {
	text-decoration:none;
	color:#FF7500;
}
.b{
	background:grey;min-height:10px;
}

/* clearfix */
.clearfix:before, .clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{
	clear:both;
	overflow:hidden;
}
.clearfix{
    zoom:1;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.bg_gray{
	background-color:#f2f2f2;
}
.bg_white{
	background-color:#fafafa;
}
.ptb50{
	padding-top:50px;padding-bottom:50px;
}
.pr50p{
	padding-right:50%;
}
.wid50p{
	width:50%;
}
.wrap_1005{
	width: 1005px;
	display: block;
	margin: 0px auto;
	position: relative;
}

.index_slide{	
	width:100%;
	height:390px;
	background: url(img/index_slide_bg.png) no-repeat #DE5F03;
	position: relative;
	z-index: 2;
}
.index_slide .slide{
	position:relative;
	overflow:hidden;
	height:390px;
}
.index_slide .slide ul.slide_con{
	height:328px;position: relative;overflow:hidden;
}
.slide ul.slide_con li{
	position:absolute;_position: relative;	
	top:0px;left:0px;
	width:100%;height:100%;
	z-index:2;display:none;
}
.slide ul.slide_con li img{
	height:100%;width:100%;
}
.slide ul.slide_con li a.slide_con_a{
	position: absolute;right:1px;
	bottom:55px;cursor: pointer;
	z-index:9;
	height:49px;width:161px;
	line-height:49px;text-align: center;
	background-image:url(img/slide_con_a.png);
	color:#D43600;font-size:19px;
}
.index_slide .slide ul.slide_index{
	position: absolute;
	height:64px;
	width:1005px;left:0px;bottom:0px;
}
.index_slide .slide ul.slide_index li{
	float: left;
	width:200px;
	height:56px;
	margin-right:1px;
	margin-top:8px;
	cursor:pointer;
	box-shadow:2px 1px 0px 0px #DD5D14;
	transition: all 0.3s;	
}

.index_slide .slide ul.slide_index li.one{
	background:url(img/slide_index01.png) no-repeat center center;
	_background-image: url(img/slide_index01_ie6.png);
	background-color:rgba(255,255,255,.4);
	background-color:#FFFFFF\9;filter:alpha(opacity=40);
}
.index_slide .slide ul.slide_index li.two{
	background:url(img/slide_index02.png) no-repeat center center;
	_background-image: url(img/slide_index02_ie6.png);
	background-color:rgba(255,255,255,.4);
	background-color:#FFFFFF\9;filter:alpha(opacity=40);
}
.index_slide .slide ul.slide_index li.three{
	background:url(img/slide_index03.png) no-repeat center center;
	_background-image: url(img/slide_index03_ie6.png);
	background-color:rgba(255,255,255,.4);
	background-color:#FFFFFF\9;filter:alpha(opacity=40);
}
.index_slide .slide ul.slide_index li.four{
	background:url(img/slide_index04.png) no-repeat center center;
	_background-image: url(img/slide_index04_ie6.png);
	background-color:rgba(255,255,255,.4);
	background-color:#FFFFFF\9;filter:alpha(opacity=40);
}
.index_slide .slide ul.slide_index li.five{
	background:url(img/slide_index05.png) no-repeat center center;
	_background-image: url(img/slide_index05_ie6.png);
	background-color:rgba(255,255,255,.4);
	background-color:#FFFFFF\9;filter:alpha(opacity=40);
}

.index_slide div.slide ul.slide_index li.hover{
	height:64px;margin-top:0px;
	background-color:rgba(255,255,255,.5);
	filter:alpha(opacity=50);
}
